/* css/base.css */

/* Importar fuentes elegantes de Google */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,600;0,700;1,400;1,600&family=Great+Vibes&family=Montserrat:wght@400;500;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Fondo gris para pantalla */
    font-family: var(--fuente-principal);
    color: var(--color-negro-brillante);
    -webkit-print-color-adjust: exact;
}

/* Ocultar fondo gris al imprimir */
@media print {
    body {
        background-color: var(--color-fondo-web);
    }
}